a.empty {
  background: #aaa;
}
div.wikitoc {
    border: 1px solid #aaa;
    background: #ddd;
    padding: 10px;
}
.wiki-edit-status {
    font-weight: bold;
    margin-left: 30px;
}
.create-wiki .edit,
.edit-wiki .create {
    display: none;
}
