a.empty {
  background: #aaa;
}
div.wikitoc {
    border: 1px solid #aaa;
    background: #ddd;
    padding: 10px;
}
.wiki-edit-status {
    font-weight: bold;
    margin-left: 30px;
}
#wiki-edit-bar.create-new-wiki {
    display: none;
}
